body{
  background: rgb(210,205,27);
  background: linear-gradient(90deg, rgba(210,205,27,1) 0%, rgba(166,67,14,1) 97%);
}
.contact{
  justify-content: center;
  margin: auto;
  max-width:1000px;
  margin-top: 112px!important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 
.App {
  width:500px;
  height: 500px;
  border-left: solid 2px black;
  background-color: aliceblue;
}
.contact-information{
  background-color: aliceblue;
  width:500px;
  height: 500px;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 38px;
}
.form-element{
display: flex;
margin: 10px;
padding: 15px;
border: none;
background-color: transparent;
border-bottom: solid black 1px;
}
.form input:hover{
  border: none;
  border-bottom: solid black 1px;
}
button{
  background-color: black;
  color:white;
  font-weight: 700;
  font-size: 18px!important;;
  line-height: 48px !important;
  border-radius: 3px; 
  margin:20px !important;
  padding:0 58px;
  border:none;
  text-align: center;
}
.button-submit{
  padding: 0 25px;
}
.button-next{
  padding: 0 25px;
}
button:hover{
  background-color:black;
}
.buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 27px;
}
.header-text{
  font-weight: bold;
  color: black;
  font-size: 20px;
  text-align: center;
  padding-top: 24px;
}
.error-message{
  color:black;
  font-size: smaller;
  font-weight:400;
  margin-left: -94px;
}
.form-element-error{
border: solid 1px black!important;
display: flex;
margin: 10px;
padding: 15px;
border: none;
background-color: transparent;
}
.second-form{
  display: flex;
}
.second-form-error-message{
  color:black;
  font-size: smaller;
  font-weight:400;
  margin-left: 12px;
}
.form-email{
  display: flex;
  flex-direction: column;
}
.form-phoneNumbe{
  display: flex;
  flex-direction: column;
}
.icons{
  display: flex;
}
.icon{
  display: flex;
}
.icon-text{
  margin-left: 20px;
}
ul li{
  margin:62px 40px;
}
.icon>div>p{
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin: 0;
  font-family: "Poppins", sans-serif;

}
@media screen and (max-width:425px){
  .contact-information{
    background-color: aliceblue;
    width:500px;
    height: 500px;
    border-bottom: solid 2px black;
  }
  input{
    font-size: x-small !important;

  }
} 